:root {
  // TODO - Remove after WF team fixes bug on their end
  --button-icon-padding: 0 12px;
  --button-primary-icon-color: var(--text-inverse-color);
}

:global(#webpack-dev-server-client-overlay) {
  display: none;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.appHeader {
  background-color: #005487;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

.content {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
  flex: 1;
}
